.DS_Store
.DS-Store
.vscode
.idea
Description.pdf
myftpclient
myftpserver
server/server
client/client
client/*.txt
!client/clientconfig.txt
server/data/*
server/data1
server/data2
server/data3
server/data4